        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Tajawal', sans-serif;
        }
        
        body,
        html {
            height: 100%;
        }
        
        .hero {
            background: url('img/New folder/20-ezgif.com-gif-to-avif-converter.avif') no-repeat center center/cover;;
            height: 100vh;
            position: relative;
            color: white;
            background-color: rgba(255, 255, 255, 0.3);
            /* إضافة شفافية للصورة */
        }
        
        nav {
            display: flex;
            justify-content: flex-end;
            gap: 30px;
            padding: 30px;
            font-size: 18px;
        }
        
        nav a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            transition:  color 0.3s;
        }
        nav a:hover {
        color : #00f0ff;
        }
        
        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        
        .content img {
            width: 100px;
            /* كبر الحجم حسب الحاجة */
            margin-bottom: 0px;
            /* مسافة بين اللوجو والنص */
        }
        
        .content h1 {
            font-size: 50px;
            margin-bottom: 10px;
            font-weight: 700;
        }
        
        .content p {
            font-size: 20px;
            margin-bottom: 20px;
        }
        
        .btn {
            display: inline-block;
            color: white;
            text-decoration: none;
            padding: 10px 25px;
            border-radius: 8px;
            font-weight: bold;
            display: inline-block;
            padding: 12px 24px;
            border: 2px solid #00f0ff;
            border-radius: 10px;
            background: transparent;
            margin-top: 15px;
            font-weight: bold;
            text-decoration: none;
            transition: 0.6s
        }
        
        .btn:hover {
            background: #00f0ff;
            color: black;
        }
        
        footer {
            color: white;
            text-align: center;
            padding: 15px;
            margin-bottom: 30px;
        }
        
        @media (max-width: 768px) {
            .content img {
                width: 70px;
                /* تصغير اللوجو للموبايل */
                margin-bottom: 15px;
            }
            .content h1 {
                font-size: 32px;
            }
            .content p {
                font-size: 16px;
            }
            .btn {
                padding: 10px 20px;
                font-size: 14px;
            }
            nav {
                flex-direction: column;
                align-items: flex-end;
                gap: 15px;
                padding: 20px;
                font-size: 16px;
            }
            footer {
                color: white;
                text-align: center;
                padding: 15px;
                margin-bottom: 30px;
            }

        }

